<div>
  <h1 align="center">Welcome to Productivity Management Tool</h1>
</div>

<form style="width: 23rem;">

  <h3>Log in</h3>

  <div>
    <input type="email"/>
    <label class="form-label">Email address</label>
  </div>

  <div>
    <input type="password"/>
    <label class="form-label">Password</label>
  </div>

  <div>
    <button type="button">Login</button>
  </div>

  <p><a href="#!">Forgot password?</a></p>
  <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>

</form>



